version: '3.8'

services:
  #  Base de donnees pour Airflow 
  airflow-postgres:
    image: postgres:16
    container_name: airflow-postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - airflow-postgres-data:/var/lib/postgresql/data

  #  Base de donnees Silver 
  silver-postgres:
    image: postgres:15
    container_name: silver-postgres
    environment:
      POSTGRES_USER: silver_user
      POSTGRES_PASSWORD: silver_pass123
      POSTGRES_DB: silver_data
    ports:
      - "5432:5432" 
    restart: unless-stopped
    command: 
      - "postgres"
      - "-c"
      - "shared_buffers=512MB"
      - "-c"
      - "max_connections=200"
      - "-c"
      - "work_mem=32MB"
    volumes:
      - silver-postgres-data:/var/lib/postgresql/data

  # Airflow Initialisation 
  airflow-init:
    build: .
    # container_name: airflow-init
    depends_on:
      airflow-postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow-postgres/airflow
    volumes:
      - ./init_airflow.sh:/init_airflow.sh
    entrypoint: ["/bin/bash", "/init_airflow.sh"]

  # Airflow Principal
  airflow:
    build: .
    container_name: airflow
    restart: always
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow-postgres/airflow
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./requirements.txt:/requirements.txt  
      - /mnt/c/Users/hp/Desktop/Urban-ETA-ML-Platform/data:/opt/airflow/data  # 
    command: >
      bash -c "
        pip install --no-cache-dir -r /requirements.txt &&
        airflow scheduler &
        airflow webserver
      "
    depends_on:
      airflow-init:
        condition: service_completed_successfully
      airflow-postgres:
        condition: service_healthy
    ports:
      - "8080:8080"

volumes:
  airflow-postgres-data:
  silver-postgres-data:
    driver: local
