numpy
pandas
matplotlib
fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-dotenv
pytest
psycopg2-binary
requests
python-jose
python-multipart
pyjwt
pwdlib[argon2]
huggingface_hub
google-genai
pytest-mock
pydantic[email]